html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #2d305a;
  font-family: "Roboto", sans-serif;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: white;
}

.blue-s {
  background-color: rgba(4, 8, 101, 0.5);
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(4, 12, 33, 0.5);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a5a5b0;
  border-radius: 8px;
}

.text-small {
  font-size: 12px;
}

.bold {
  font-weight: 800;
}

/* 
<------------- NAV BAR  -------------------------------->
*/

nav {
  margin: 0;
  width: 100%;
  height: 56px;
  min-width: 990px;
  background-color: rgba(4, 8, 101, 0.5);
  box-shadow: 0px 4px 10px 0px rgba(4, 12, 33, 0.5);
  padding: 0px 16px;
}
#logo {
  color: white;
  font-weight: lighter;
  width: 8%;
  letter-spacing: 0.1em;
  text-shadow: 0.5px 0.5px 1px rgba(240, 248, 255, 0.5);
}

.navbar-item {
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-items-container {
  width: 92%;
  height: 38px;
}
.navbar-items-left {
  width: 62%;
  justify-content: space-evenly;
  padding: 0px 12px;
}

.navbar-items-right {
  width: 38%;
  justify-content: flex-start;
  padding-top: 4px;
  padding-right: 32px;
}

.searchbar-container {
  width: 80%;
  min-width: 120px;
  border-radius: 8px;
  padding: 4px 6px;
  margin-right: 22px;
  border: thin solid rgba(255, 255, 255, 0.5);
}

.searchbar-container:hover {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 6px 10px 0px rgb(4, 12, 33, 0.7);
}

input[type="text"] {
  height: 80%;
  width: 90%;
  font-size: 15px;
  padding: 4px;
  margin-left: 8px;
  color: #cecece;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.searchbar-container > i {
  color: white;
  text-shadow: 0.5px 0.5px 1px rgba(240, 248, 255, 0.4);
}

#nav-right-search-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "main"
    "search";
}

.navbar-right-grid-item-1 {
  grid-area: main;
}

.search-results-container {
  grid-area: search;
}

.icon-large {
  font-size: 18px;
}

.navbar-item {
  padding: 8px;
  border-radius: 6px;
  transition: background 0.2s, box-shadow 0.5s ease-out, box-shadow 0.5s ease;
  -moz-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  -ms-transition: background 0.2s;
  transition: 0.5s ease;
}
.navbar-item:hover {
  background: #36f;
  box-shadow: 0px 6px 10px 0px rgb(4, 12, 33, 0.7);
}

hr {
  border: 1px solid rgba(152, 152, 152, 0.32);
}

/* <--------- Search - Items ------->*/
.search-results-container {
  position: relative;
  z-index: 1000;
  top: 0px;
  right: 0;
  width: 410px;
  padding-top: 0;
  display: none;
}

#stockList {
  display: flex;
  flex-direction: column;
  color: white;
  max-height: 280px;
  font-size: 12px;
  background-color: #09003f;
  border: solid thin #2d305a;
  padding: 0px 4px;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 0px 0px 12px 12px;
}

#stockList::-webkit-scrollbar {
  display: none;
}

.search-symbol {
  padding: 8px;
}

.search-symbol:hover {
  background-color: #2d305a;
}

.symbol {
  width: 50px;
}

.symbol-name {
  width: 280px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.symbol-exchange {
  width: 80px;
  padding-left: 10px;
}

/* 
<------------- BODY CONTAINER  -------------------------------->
  border: solid 2px blue;
*/

.board-container {
  align-items: center;
  text-align: center;
  height: 90vh;
  padding: 6px;
}

.grid-container {
  display: grid;
  grid-gap: 6px;
}

/* 
<=================== STYLES FOR ALL GRID ITEMS =====================>  
*/

.grid-item-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 14px;
}

.item-header {
  height: 10%;
  border-bottom: 0.35px solid rgba(152, 152, 152, 0.32);
  padding: 2px 8px;
}

.item-main-content {
  height: 90%;
  width: 100%;
  background-color: #09003f;
  border-radius: 0px 0px 10px 10px;
}

/* <------ TABLES  ------->  */

.table-container {
  overflow: scroll;
  overflow-x: hidden;
}

.color-up {
  color: rgba(0, 137, 123, 1);
}

.color-down {
  color: rgba(229, 57, 53, 1);
}

table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  max-height: 100%;
}

th,
td {
  color: #c4c4c4;
  padding: 5px;
  font-weight: normal;
}

th {
  font-size: 14px;
}

td {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

td > a:hover {
  color: #4c54d2;
}

.nowrap {
  white-space: nowrap;
}

.tbody-left-border {
  border-left: 0.3px solid rgba(152, 152, 152, 0.35);
}

tbody tr {
  border-bottom: 0.3px solid rgba(152, 152, 152, 0.35);
}
tbody tr:hover {
  border-bottom: 0.3px solid rgba(152, 152, 152, 0.35);
  background-color: #2d305a;
}

/* 
<------------------------ HOME ITEMS  ------->  
*/

#home {
  height: 100%;
  min-width: 960px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 6px 6px;
  grid-template-areas:
    "one one two two two two"
    "three three four four four five";
}
.home-item-1 {
  grid-area: one;
  max-height: 45vh;
}

.market-internals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#myChart {
  max-width: 90%;
  max-height: 90%;
}

.ad-header {
  padding: 8px 0px;
}

.home-item-2 {
  grid-area: two;
  max-height: 45vh;
}

#main-home-chart {
  max-height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  width: 100%;
  height: 100%;
}

.index-header {
  justify-content: space-evenly;
}

.dot {
  font-size: 8px !important;
  padding-right: 5px;
}

.orange {
  color: #eb6404;
}
.blue {
  color: #1aa9ff;
}
.violet {
  color: #b163ff;
}
.green {
  color: #33e190;
}

.ice {
  color: #8ca0d6;
}

.home-item-3 {
  grid-area: three;
  max-height: 45vh;
}

.gd-table tbody tr:hover {
  background-color: #09003f;
}

.table-headers {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.table-headers-row {
  border-bottom: 0.25px solid rgba(152, 152, 152, 0.32);
}

th {
  background: #1a2049;
  box-shadow: 0px 4px 10px rgba(4, 12, 33, 0.5);
  position: sticky;
  top: 0;
}

.ad-header {
  top: 0;
  background: #1a2049;
  box-shadow: 0px 4px 10px rgba(4, 12, 33, 0.5);
}

.home-item-4 {
  grid-area: four;
  max-height: 45vh;
}
.home-item-5 {
  grid-area: five;
  max-height: 45vh;
}

/* 
<-------------------------------- SINGLE STOCK ITEMS  ------->  
*/

#single-stock {
  height: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 3fr 2fr;
  gap: 6px 6px;
  grid-template-areas:
    "one one one one one one one one"
    "two two two two three three three three";
}

.single-stock-item-1 {
  grid-area: one;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 54vh;
}

.single-stock-item-1 > .fas {
  color: white;
  text-shadow: 0.5px 0.5px 1px rgba(240, 248, 255, 0.4);
}

#single-stock-sidebar-closed > i:hover {
  color: #36f;
  text-shadow: 0.5px 0.5px 1px rgba(240, 248, 255, 0.6);
}
.sidebar-top-row > i:hover {
  color: #36f;
  text-shadow: 0.5px 0.5px 1px rgba(240, 248, 255, 0.6);
}

.active {
  color: #4c54d2;
}

#sidebar-financials {
  display: block;
}

#sidebar-ratings,
#sidebar-info,
#sidebar-strategy {
  display: none;
  color: #b2b5be;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100%;
}

.rating {
  border-bottom: 0.3px solid rgba(152, 152, 152, 0.35);
}

.ratings-row {
  width: 92%;
  justify-content: space-between;
}

.firm-name {
  color: #8ca0d6;
}

.ratings-row > p {
  margin: 10px 0px 0px 0px;
}

.bottom-row {
  margin-bottom: 18px;
}

.ratings-message {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar-info,
#sidebar-strategy {
  text-align: left;
  padding: 0px 14px;
}

#sidebar-info .fa-link {
  font-size: 12px;
  margin-left: 3px;
}

#sidebar-strategy {
  display: none;
}

#single-stock-sidebar {
  width: 45%;
  margin-right: 6px;
  transition: width 0.1s;
  -moz-transition: width 0.1s;
  -webkit-transition: width 0.1s;
  -o-transition: width 0.1s;
  -ms-transition: width 0.1s;
}

#sidebar-ratings::-webkit-scrollbar,
#sidebar-info::-webkit-scrollbar,
#sidebar-strategy::-webkit-scrollbar {
  width: 3px;
}

#sidebar-ratings::-webkit-scrollbar-corner,
#sidebar-info::-webkit-scrollbar-corner,
#sidebar-strategy::-webkit-scrollbar-corner {
  display: none;
}
#sidebar-ratings::-webkit-scrollbar-thumb,
#sidebar-info::-webkit-scrollbar-thumb,
#sidebar-strategy::-webkit-scrollbar-thumb {
  background-color: #50535e;
  border-color: #1e222d;
}

#sidebar-ratings::-webkit-scrollbar-track,
#sidebar-info::-webkit-scrollbar-track,
#sidebar-strategy::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 3px;
}

#single-stock-sidebar-open {
  display: flex;
  height: 100%;
}

.sidebar-top-row {
  width: 100%;
  justify-content: space-around;
  font-size: 20px;
}

#single-stock-sidebar-closed {
  display: none;
  height: 100%;
  padding: 0px 2px;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#single-stock-sidebar > .row {
  justify-content: center;
}

.close-button-container {
  justify-content: flex-end;
}

#close-arrow {
  font-size: 20px;
  padding: 0px 12px;
}

#close-arrow:hover {
  color: #36f;
  text-shadow: 0.5px 0.5px 1px rgba(240, 248, 255, 0.6);
}

.single-stock-item-chart {
  width: 100%;
  padding: 2px;
}

.single-stock-item-2 {
  grid-area: two;
  max-height: 36vh;
}
.single-stock-item-3 {
  grid-area: three;
  max-height: 36vh;
}

/* 
<------------------------- SCREENER ITEM  ------->  
*/

#screener {
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr 1fr;
  gap: 10px 0px;
  grid-template-areas:
    "one"
    "two"
    "three";
}
.screener-item-1 {
  grid-area: one;
  max-height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.screener-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 12px;
}

.screener-form > form {
  width: 94%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 20px 8px;
  background-color: #09003f;
  justify-content: space-evenly;
}

input[type="submit"],
.form-button {
  background-color: #a5a5b0;
  color: white;
  padding: 2px 10px;
  margin-right: 4px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.screen-select > select {
  width: 120px;
  font-size: 10px;
}

.screener-item-2 {
  grid-area: two;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.screen-table-container {
  width: 95%;
  height: 100%;
  background-color: #09003f;
  padding-top: 20px;
  border-radius: 10px;
}

.screener-table tbody tr td {
  border-left: 0.3px solid rgba(152, 152, 152, 0.35);
  border-right: 0.3px solid rgba(152, 152, 152, 0.35);
}

.screener-item-3 {
  grid-area: three;
  color: white;
}

/* 
<------------------------- STUDY PAGE  ------->  
*/

#study {
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 12fr;
  gap: 0px 0px;
}

.study-input-form-container,
.study-tabs-container {
  max-width: 100%;
  border-radius: 6px;
  height: 30px;
  padding: 8px 0px 0px 8px;
  background-color: #09003f;
  box-shadow: 0px 6px 10px 0px rgb(4, 12, 33, 0.7);
  text-align: left;
  margin-bottom: 4px;
}
.study-input-form > label {
  color: white;
  font-size: 20px;
}
.study-input-form > input {
  width: 600px;
  font-size: 20px;
  padding: 2px;
}

.tabs {
  color: white;
  height: 100%;
  padding-left: 18px;
}

.tabs > p {
  width: 116px;
  margin: 0px 12px;
  text-align: center;
}
.tabs > p:hover {
  cursor: pointer;
}
.active-tab {
  color: #4c54d2;
  border-bottom: solid 1px #4c54d2;
}

.main-study-container {
  width: 100%;
  max-height: 720px;
}
.section {
  display: none;
}

.active-section {
  width: 100%;
  height: 100%;
  border: solid red 2px;
}
