{% extends "layout.html" %} {% block content%}
<div id="home" class="grid-container">
  <div class="home-item-1 blue-s">
    <div class="grid-item-container">
      <div class="item-header row">
        <p>Gainers/Decliners</p>
      </div>
      <div class="item-main-content">
        <div>CHART</div>
        <div>S&P 500</div>
        <div>NASDAQ</div>
        <div>RUSSELL 2000</div>
        <div>DOW</div>
      </div>
    </div>
  </div>

  <div class="home-item-2 blue-s">
    <div class="grid-item-container">
      <div class="item-header row">
        <p>SPY/NQ</p>
      </div>
      <div class="item-main-content">
        <div id="main-home-chart"></div>
      </div>
    </div>
  </div>
  <div class="home-item-3 blue-s">
    <div class="grid-item-container">
      <div class="item-header row">
        <p>Market Internals</p>
      </div>
      <div class="item-main-content">
        <div>CHART</div>
      </div>
    </div>
  </div>
  <div class="home-item-4 blue-s">
    <div class="grid-item-container home-table">
      <div class="item-header row">
        <p>Market News</p>
      </div>

      <div class="item-main-content table-container">
        <table>
          <thead>
            <div class="table-headers-row">
              <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Headline</th>
              </tr>
            </div>
          </thead>
          <tbody>
            {% for item in news%}
            <tr>
              <td class="nowrap">{{item.date}}</td>
              <td class="tbody-left-border">{{item.time}}</td>
              <td class="tbody-left-border">
                <a href="{{item.link}}" target="_blank">{{item.title}}</a>
              </td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="home-item-5 blue-s">
    <div class="grid-item-container home-table">
      <div class="item-header row">
        <p>Trending Searches</p>
      </div>
      <div class="item-main-content table-container">
        <table>
          <thead>
            <div class="table-headers-row">
              <tr>
                <th>No.</th>
                <th>Item</th>
              </tr>
            </div>
          </thead>
          <tbody>
            {% for trend in g_trends%}
            <tr>
              <td>{{trend.count}}</td>
              <td class="tbody-left-border nowrap">{{trend.item}}</td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    const element = document.getElementById("main-home-chart");
    const chart = LightweightCharts.createChart(element, {
      width: 300,
      height: 400,
      rightPriceScale: {
        scaleMargins: {
          top: 0.1,
          bottom: 0.1,
        },
        mode: LightweightCharts.PriceScaleMode.Percentage,
        borderColor: "rgba(197, 203, 206, 0.4)",
      },
    });
    const lineSeries = chart.addLineSeries();
    lineSeries.setData([
      { time: "2019-04-11", value: 80.01 },
      { time: "2019-04-12", value: 96.63 },
      { time: "2019-04-13", value: 76.64 },
      { time: "2019-04-14", value: 81.89 },
      { time: "2019-04-15", value: 74.43 },
      { time: "2019-04-16", value: 80.01 },
      { time: "2019-04-17", value: 96.63 },
      { time: "2019-04-18", value: 76.64 },
      { time: "2019-04-19", value: 81.89 },
      { time: "2019-04-20", value: 74.43 },
    ]);

    const lineSeries2 = chart.addLineSeries();
    lineSeries2.setData([
      { time: "2019-04-11", value: 89.01 },
      { time: "2019-04-12", value: 111.63 },
      { time: "2019-04-13", value: 99.64 },
      { time: "2019-04-14", value: 96.89 },
      { time: "2019-04-15", value: 89.43 },
      { time: "2019-04-16", value: 95.01 },
      { time: "2019-04-17", value: 101.63 },
      { time: "2019-04-18", value: 78.64 },
      { time: "2019-04-19", value: 90.89 },
      { time: "2019-04-20", value: 79.43 },
    ]);
  </script>
</div>
{%endblock%}
