{% extends "layout.html" %} {% block content%}

  <body>
      <h1>STOCKS</h1>
      <form method="get">
        <select name="filter">
          <option value="">All Stocks</option>
          <option {% if request.query_params.filter == "new_closing_highs" %} selected="selected"{%endif%} value="new_closing_highs">New Closing Highs</option>
          <option {% if request.query_params.filter == "new_closing_lows" %} selected="selected"{%endif%} value="new_closing_lows">New Closing Lows</option>
          <option {% if request.query_params.filter == "rsi_overbought" %} selected="selected"{%endif%} value="rsi_overbought">RSI Overbought</option>
          <option {% if request.query_params.filter == "rsi_oversold" %} selected="selected"{%endif%} value="rsi_oversold">RSI Oversold</option>
          <option {% if request.query_params.filter == "under_sma_50" %} selected="selected"{%endif%} value="under_sma_50">Under SMA 50D</option>
          <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">Over SMA 50D</option>
        </select>
        <input type="submit" />
      </form>
      <table class="ui selectable inverted table">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>SMA 20</th>
            <th>SMA 50</th>
            <th>RSI 14</th>
          </tr>
        </thead>
        <tbody>
          {% for stock in stocks%}  
          <tr>
            <td>{{stock.symbol}}</td>
            <td><a href="/stock/{{stock.symbol}}">{{stock.name}}</a></td>
            {% if indicator_values[stock.symbol] %}
            <td>{{ indicator_values[stock.symbol].close }}</td>
            <td>{{ indicator_values[stock.symbol].sma_20 }}</td>
            <td>{{ indicator_values[stock.symbol].sma_50 }}</td>
            <td>{{ indicator_values[stock.symbol].rsi_14 }}</td>
            {% endif%}
          </tr>
          {% endfor%}
        </tbody>
      </table>
{%endblock%}