{% extends "layout.html" %} {% block content%}
<div id="home" class="grid-container">
  <!-- <form method="get">
        <select name="filter">
          <option value="">All Stocks</option>
          <option {% if request.query_params.filter == "new_closing_highs" %} selected="selected"{%endif%} value="new_closing_highs">New Closing Highs</option>
          <option {% if request.query_params.filter == "new_closing_lows" %} selected="selected"{%endif%} value="new_closing_lows">New Closing Lows</option>
          <option {% if request.query_params.filter == "rsi_overbought" %} selected="selected"{%endif%} value="rsi_overbought">RSI Overbought</option>
          <option {% if request.query_params.filter == "rsi_oversold" %} selected="selected"{%endif%} value="rsi_oversold">RSI Oversold</option>
          <option {% if request.query_params.filter == "under_sma_50" %} selected="selected"{%endif%} value="under_sma_50">Under SMA 50D</option>
          <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">Over SMA 50D</option>
        </select>
        <input type="submit" />
      </form> -->
  <div class="home-item-1 blue-s">
    <div class="grid-item-container">
      <div class="item-header row">
        <p>Gainers/Decliners</p>
      </div>
      <div class="item-main-content">
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
      </div>
    </div>
  </div>
  <div class="home-item-2 blue-s">
    <div class="grid-item-container">
      <div class="item-header row">
        <p>SPY/NQ</p>
      </div>
      <div class="item-main-content">
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
      </div>
    </div>
  </div>
  <div class="home-item-3 blue-s">
    <div class="grid-item-container">
      <div class="item-header row">
        <p>Market Internals</p>
      </div>
      <div class="item-main-content">
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
      </div>
    </div>
  </div>
  <div class="home-item-4 blue-s">
    <div class="grid-item-container">
      <div class="item-header row">
        <p>Market News</p>
      </div>
      <div class="item-main-content">
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
      </div>
    </div>
  </div>
  <div class="home-item-5 blue-s">
    <div class="grid-item-container">
      <div class="item-header row">
        <p>Trending Searches</p>
      </div>
      <div class="item-main-content">
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
        <p>SPY/NQ</p>
      </div>
    </div>
  </div>

  <!-- <table class="ui selectable inverted table">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>SMA 20</th>
            <th>SMA 50</th>
            <th>RSI 14</th>
          </tr>
        </thead>
        <tbody>
          {% for stock in stocks%}  
          <tr>
            <td>{{stock.symbol}}</td>
            <td><a href="/stock/{{stock.symbol}}">{{stock.name}}</a></td>
            {% if indicator_values[stock.symbol] %}
            <td>{{ indicator_values[stock.symbol].close }}</td>
            <td>{{ indicator_values[stock.symbol].sma_20 }}</td>
            <td>{{ indicator_values[stock.symbol].sma_50 }}</td>
            <td>{{ indicator_values[stock.symbol].rsi_14 }}</td>
            {% endif%}
          </tr>
          {% endfor%}
        </tbody>
      </table> -->
</div>
{%endblock%}
