<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="../static/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.0/dist/chart.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
    ></script>
    <title>Stockgraph</title>
  </head>
  <body id="body-main-container">
    <nav class="navbar row">
      <h2 id="logo" class="left-align"><a href="/">Stockgraph</a></h2>
      <div class="navbar-items-container row">
        <div class="navbar-items-left row">
          <a href="/" class="navbar-item">Home</a>
          <a href="/screener" class="navbar-item">Screener</a>
          <a href="/orders" class="navbar-item">Order History</a>
          <a href="/study" class="navbar-item">Study</a>
        </div>
        <div class="navbar-items-right">
          <div id="nav-right-search-grid" class="grid-item-container">
            <div class="navbar-right-grid-item-1 row">
              <div class="searchbar-container row">
                <i class="fas fa-search icon-large"></i>
                <input
                  id="nav-searchbar"
                  name="nav-searchbar"
                  type="text"
                  onkeyup="search()"
                />
              </div>
              <a id="login-logout" class="navbar-item"> Logout </a>
            </div>

            <div id="stockList-container" class="search-results-container">
              <ul id="stockList">
                <li class="search-symbol row">
                  <a href="/stock/DDD">
                    <div class="symbol">test</div>
                  </a>
                  <div class="symbol-name">test</div>
                  <div class="symbol-exchange">test</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div id="main-ui-container" class="board-container">
      {% block content%} {% endblock%}
    </div>
  </body>
  <script>
    const searchStocks = async (queryString) => {
      const res = await fetch(`http://127.0.0.1:8000/search/${queryString}`);
      const searchResults = await res.json();
      return searchResults.results;
    };

    async function search() {
      let searchbar = document.getElementById("nav-searchbar");
      let text = searchbar.value;
      let queryStr = text.trim();
      let queryText = queryStr.replace("?", "");
      try {
        if (text != "" && !text.includes("?")) {
          let searchResults = await searchStocks(queryText);
          // here we need a function to display the results
          let searchResultItems = document.getElementById(
            "stockList-container"
          );
          searchResultItems.style.display = "block";
          for (let i = 0; i < searchResults.length; ++i) {
            let record = searchResults[i];
          }
        }
      } catch (err) {
        console.error(err);
      }
    }
    //If the input i
    //and we need a function to validate the input search query
    //function to add and display the search results
    //what we are going to say is on search display the
    //the container   document.getElementById("stockList-container").style.display = "block";
    // then append a list item for every item in the results
    // on a new search we will remove any items in the container list and
    // append new items
    // we will also hide the stockList container once the user is not
    // focused on the container

    // $("#nav-searchbar").focusout(function () {
    //   document.getElementById("stockList-container").style.display = "none";
    // });
  </script>
</html>
