{% extends "layout.html" %} {% block content%}
<div id="screener" class="grid-container">
  <div class="screener-item-1">
    <div class="screener-form">
      <form id="screenerForm" method="get">
        <div class="screen-select">
          <label for="standard-select-1">Change %</label>
          <select id="standard-select-1" class="standard-select" name="change">
            <option hidden disabled selected value>select</option>
            <option {% if request.query_params.change == "greater_than_3%" %} selected="selected"{%endif%} value="greater_than_3%">+3% or more</option>
            <option {% if request.query_params.change == "greater_than_6%" %} selected="selected"{%endif%} value="greater_than_6%">+6% or more</option>
            <option {% if request.query_params.change == "greater_than_10%" %} selected="selected"{%endif%} value="greater_than_10%">+10% or more</option>
            <option {% if request.query_params.change == "greater_than_15%" %} selected="selected"{%endif%} value="greater_than_15%">+15% or more</option>
            <option {% if request.query_params.change == "greater_than_20%" %} selected="selected"{%endif%} value="greater_than_20%">+20% or more</option>
            <option {% if request.query_params.change == "greater_than_25%" %} selected="selected"{%endif%} value="greater_than_25%">+25% or more</option>
            <option {% if request.query_params.change == "greater_than_30%" %} selected="selected"{%endif%} value="greater_than_30%">+30% or more</option>
            <option {% if request.query_params.change == "less_than_-3%" %} selected="selected"{%endif%} value="less_than_-3%">-3% or more</option>
            <option {% if request.query_params.change == "less_than_-6%" %} selected="selected"{%endif%} value="less_than_-6%">-6% or more</option>
            <option {% if request.query_params.change == "less_than_-10%" %} selected="selected"{%endif%} value="less_than_-10%">-10% or more</option>
            <option {% if request.query_params.change == "less_than_-15%" %} selected="selected"{%endif%} value="less_than_-15%">-15% or more</option>
          </select>
        </div>

        <div class="screen-select">
          <label for="standard-select-2">Current Volume</label>
          <select id="standard-select-2" class="standard-select"  name="volume">
            <option hidden disabled selected value>select</option>
            <option {% if request.query_params.volume == "less_than_100000" %} selected="selected"{%endif%} value="less_than_100000">Under 100K</option>
            <option {% if request.query_params.volume == "less_than_1000000" %} selected="selected"{%endif%} value="less_than_1000000">Under 1M</option>
            <option {% if request.query_params.volume == "greater_than_100000" %} selected="selected"{%endif%} value="greater_than_100000">Over 100K</option>
            <option {% if request.query_params.volume == "greater_than_250000" %} selected="selected"{%endif%} value="greater_than_250000">Over 250K</option>
            <option {% if request.query_params.volume == "greater_than_500000" %} selected="selected"{%endif%} value="greater_than_500000">Over 500K</option>
            <option {% if request.query_params.volume == "greater_than_1000000" %} selected="selected"{%endif%} value="greater_than_1000000">Over 1M</option>
            <option {% if request.query_params.volume == "greater_than_3000000" %} selected="selected"{%endif%} value="greater_than_3000000">Over 3M</option>
            <option {% if request.query_params.volume == "greater_than_6000000" %} selected="selected"{%endif%} value="greater_than_6000000">Over 6M</option>
            <option {% if request.query_params.volume == "greater_than_10000000" %} selected="selected"{%endif%} value="greater_than_10000000">Over 10M</option>
          </select>
        </div>


              <div class="screen-select">

                <label for="standard-select-3"> New Highs/Lows</label>
                <select id="standard-select-3" class="standard-select"  name="high_low">
                  <option hidden disabled selected value>select</option>
                  <option {% if request.query_params.high_low == "new_closing_highs" %} selected="selected"{%endif%} value="new_closing_highs">New Closing Highs (6M)</option>
                  <option {% if request.query_params.high_low == "new_closing_lows" %} selected="selected"{%endif%} value="new_closing_lows">New Closing Lows (6M)</option>
                </select>
              </div>
        
              
              <div class="screen-select">
                <label for="standard-select-4">SMA(50)</label>
                <select id="standard-select-4" class="standard-select"  name="sma50">
                  <option hidden disabled selected value>select</option>
                  <option {% if request.query_params.sma50 == "under_sma_50" %} selected="selected"{%endif%} value="under_sma_50">Under SMA 50D</option>
                  <option {% if request.query_params.sma50 == "under_equal_sma_50" %} selected="selected"{%endif%} value="under_equal_sma_50">Under or Equal to SMA 50D</option>
                  <option {% if request.query_params.sma50 == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">Over SMA 50D</option>
                  <option {% if request.query_params.sma50 == "over_equal_sma_50" %} selected="selected"{%endif%} value="over_equal_sma_50">Over or Equal to SMA 50D</option>
                </select>
              </div>

              <div class="screen-select">
                <label for="standard-select-5">SMA(20)</label>
                <select id="standard-select-5" class="standard-select" name="sma20">
                  <option hidden disabled selected value>select</option>
                  <option {% if request.query_params.sma20 == "under_sma_20" %} selected="selected"{%endif%} value="under_sma_20">Under SMA 20D</option>
                  <option {% if request.query_params.sma20 == "under_equal_sma_20" %} selected="selected"{%endif%} value="under_equal_sma_20">Under or Equal to SMA 20D</option>
                  <option {% if request.query_params.sma20 == "over_sma_20" %} selected="selected"{%endif%} value="over_sma_20">Over SMA 20D</option>
                  <option {% if request.query_params.sma20 == "over_equal_sma_20" %} selected="selected"{%endif%} value="over_equal_sma_20">Over or Equal to SMA 20D</option>
                </select>
              </div>
              
    
              <div class="screen-select">
                <label for="standard-select-6">RSI(14)</label>
                <select id="standard-select-6" class="standard-select" name="rsi">
                  <option disabled selected value>select</option>
                  <option {% if request.query_params.rsi == "rsi_overbought" %} selected="selected"{%endif%} value="rsi_overbought">RSI Overbought</option>
                  <option {% if request.query_params.rsi == "rsi_oversold" %} selected="selected"{%endif%} value="rsi_oversold">RSI Oversold</option>
                </select>
              </div>

              <input type="hidden" id="select-7" name="page" value="1">
              <input type="submit" value="Submit">
              <button class="form-button"><a href="/screener">Reset</a></button>
      </form>
    </div>
  </div>
  <div class="screener-item-2">
        <div class="grid-item-container screen-table-container">
            <table class="screener-table">
              <thead>
                <div class="table-headers-row">
                  <tr>
                    <th>Symbol</th>
                    <th>Company Name</th>
                    <th>Last</th>
                    <th>Change %</th>
                    <th>Volume</th>
                    <th>ATR(14)</th>
                    <th>SMA(50)</th>
                    <th>RSI(14)</th>
                  </tr>
                </div>
              </thead>

              <tbody >
                {% for stock in stocks%}
                <tr>
                  <td><a href="/stock/{{stock.symbol}}">{{ stock.symbol }}</a></td>
                  <td><a href="/stock/{{stock.symbol}}">{{ stock.name }}</a></td>
              
                  {% if indicator_values[stock.symbol] %}
                    <td>{{ indicator_values[stock.symbol].close }}</td>
                    {% if indicator_values[stock.symbol].change%}
                        <td>{{ indicator_values[stock.symbol].change|round(2) }}%</td>
                        {% else %}
                        <td>na</td>
                        {% endif%}
                        {% if indicator_values[stock.symbol].sma_50%}
                        <td>{{ indicator_values[stock.symbol].sma_50|round(2) }}</td>
                        {% else %}
                        <td>na</td>
                        {% endif%}
                        {% if indicator_values[stock.symbol].sma_20%}
                        <td>{{ indicator_values[stock.symbol].sma_20|round(2) }}</td>
                        {% else %}
                        <td>na</td>
                        {% endif%}
                        {% if indicator_values[stock.symbol].sma_20%}
                        <td>{{ indicator_values[stock.symbol].sma_20|round(2) }}</td>
                        {% else %}
                        <td>na</td>
                        {% endif%}
                        {% if indicator_values[stock.symbol].rsi_14%}
                        <td>{{ indicator_values[stock.symbol].rsi_14|round(2) }}</td>
                        {% else %}
                        <td>na</td>
                    {% endif%}
                    {%else%}
                        <td>na</td>
                        <td>na</td>
                        <td>na</td>
                        <td>na</td>
                        <td>na</td>
                        <td>na</td>
                  {% endif%}
                </tr>
                {% endfor%}
              </tbody>
            </table>
        </div>
  </div>
  <div class="screener-item-3">
    <div class="pagination">
      <a id="prev-page" onclick="prevPage()">&#10094;</a>
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <!-- remove current static elems and leave empty then on load or form submit populate with required pages -->
      <a id="next-page" onclick="nextPage()">&#10095;</a>
    </div>
  </div>
</div>

{% block script %}
<script>
  alert({{page_results}})
  /*
    if getCurrentPage() == null then we need to submit a new query with the searchParam attached
    
    if page is equal to page_results -1 the nextPage does nothing
    else nextPage  adds one to the pagecount and resubmits the form so that page=curr+1
    else prevPage subtracts one to the pagecount and resubmits the form so that page=curr-1
    
  */


  function getCurrentPage() {
    const urlParams = new URLSearchParams(window.location.search);
    const pageParam = urlParams.get("page")
    if (pageParam == null) {
      return 1
    } else {
      return pageParam
    }
  }
  function prevPage(){
    let currentPage = getCurrentPage()
    // we want to resubmit the current form in the base case the path is /screener?page=1 --> screener?page=2
    // we'll get the current path and we can either window.history push or window.location href = new pathString
  }

  function nextPage(){
    let currentPage = getCurrentPage()
  }
</script>
{% endblock %}

{%endblock%}
