{% extends "layout.html" %} {% block content%}
<div id="screener" class="grid-container">
  <div class="screener-item-1">
    <div class="screener-form">
      <form method="get">
        <div class="screen-select">
          <label for="standard-select-1">Change %</label>
          <select id="standard-select-1" name="change">
            <option hidden disabled selected value>select</option>
            <option {% if request.query_params.filter == "under_sma_50" %} selected="selected"{%endif%} value="under_sma_50">+3% or more</option>
            <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">+6% or more</option>
            <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">+8% or more</option>
            <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">+10% or more</option>
            <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">+15% or more</option>
            <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">+20% or more</option>
            <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">+25% or more</option>
            <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">+30% or more</option>
            <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">-3% or more</option>
            <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">-6% or more</option>
            <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">-10% or more</option>
            <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">-15% or more</option>
          </select>
        </div>

        <div class="screen-select">
          <label for="standard-select-2">Current Volume</label>
          <select id="standard-select-2">
            <option hidden disabled selected value>select</option>
            <option {% if request.query_params.filter == "under_sma_50" %} selected="selected"{%endif%} value="under_sma_50">Under SMA 50D</option>
            <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">Over SMA 50D</option>
            <option value="Option 5">Option 5</option>
            <option value="Option length">
              Option that has too long of a value to fit
            </option>
          </select>
        </div>


              <div class="screen-select">

                <label for="standard-select-3"> New Highs/Lows</label>
                <select id="standard-select-3" name="high_low_filter">
                  <option hidden disabled selected value>select</option>
                  <option {% if request.query_params.filter == "new_closing_highs" %} selected="selected"{%endif%} value="new_closing_highs">New Closing Highs</option>
                  <option {% if request.query_params.filter == "new_closing_lows" %} selected="selected"{%endif%} value="new_closing_lows">New Closing Lows</option>
                  <option value="Option length">
                    Option that has too long of a value to fit
                  </option>
                </select>
              </div>
        
              
              <div class="screen-select">
                <label for="standard-select-4">SMA(50)</label>
                <select id="standard-select-4">
                  <option hidden disabled selected value>select</option>
                  <option {% if request.query_params.filter == "under_sma_50" %} selected="selected"{%endif%} value="under_sma_50">Under SMA 50D</option>
                  <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">Over SMA 50D</option>
                  <option value="Option 5">Option 5</option>
                  <option value="Option length">
                    Option that has too long of a value to fit
                  </option>
                </select>
              </div>

              <div class="screen-select">
                <label for="standard-select-5">SMA(20)</label>
                <select id="standard-select-5">
                  <option hidden disabled selected value>select</option>
                  <option {% if request.query_params.filter == "under_sma_50" %} selected="selected"{%endif%} value="under_sma_50">Under SMA 50D</option>
                  <option {% if request.query_params.filter == "over_sma_50" %} selected="selected"{%endif%} value="over_sma_50">Over SMA 50D</option>
                  <option value="Option 5">Option 5</option>
                  <option value="Option length">
                    Option that has too long of a value to fit
                  </option>
                </select>
              </div>
              
    
              <div class="screen-select">
                <label for="standard-select-6">RSI(14)</label>
                <select id="standard-select-6">
                  <option hidden disabled selected value>select</option>
                  <option {% if request.query_params.filter == "rsi_overbought" %} selected="selected"{%endif%} value="rsi_overbought">RSI Overbought</option>
                  <option {% if request.query_params.filter == "rsi_oversold" %} selected="selected"{%endif%} value="rsi_oversold">RSI Oversold</option>
                  <option value="Option 5">Option 5</option>
                  <option value="Option length">
                    Option that has too long of a value to fit
                  </option>
                </select>
              </div>


              
              <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <div class="screener-item-2">
        <div class="grid-item-container screen-table-container">
            <table class="screener-table">
              <thead>
                <div class="table-headers-row">
                  <tr>
                    <th>Symbol</th>
                    <th>Company Name</th>
                    <th>Last</th>
                    <th>Change %</th>
                    <th>Volume</th>
                    <th>ATR(14)</th>
                    <th>SMA(50)</th>
                    <th>RSI(14)</th>
                  </tr>
                </div>
              </thead>
              <tbody >
                {% for stock in stocks[:20]%}
                <tr>
                  <td>{{ stock.symbol }}</td>
                  <td>{{ stock.name }}</td>
              
                  {% if indicator_values[stock.symbol] %}
                    <td>{{ indicator_values[stock.symbol].close }}</td>
                    {% if indicator_values[stock.symbol].sma_50%}
                    <td>{{ indicator_values[stock.symbol].sma_50|round(2) }}</td>
                    {% else %}
                    <td>na</td>
                    {% endif%}
                    {% if indicator_values[stock.symbol].sma_50%}
                    <td>{{ indicator_values[stock.symbol].sma_50|round(2) }}</td>
                    {% else %}
                    <td>na</td>
                    {% endif%}
                    {% if indicator_values[stock.symbol].sma_20%}
                    <td>{{ indicator_values[stock.symbol].sma_20|round(2) }}</td>
                    {% else %}
                    <td>na</td>
                    {% endif%}
                    {% if indicator_values[stock.symbol].sma_20%}
                    <td>{{ indicator_values[stock.symbol].sma_20|round(2) }}</td>
                    {% else %}
                    <td>na</td>
                    {% endif%}
                    {% if indicator_values[stock.symbol].rsi_14%}
                    <td>{{ indicator_values[stock.symbol].rsi_14|round(2) }}</td>
                    {% else %}
                    <td>na</td>
                    {% endif%}
                    {%else%}
                    <td>na</td>
                    <td>na</td>
                    <td>na</td>
                    <td>na</td>
                    <td>na</td>
                    <td>na</td>
                  {% endif%}
                </tr>
                {% endfor%}
              </tbody>
            </table>
        </div>
  </div>
  <div class="screener-item-3">
    <div class="pagination">
      <a href="#">&#10094;</a>
      <a href="#">1</a>
      <a href="#" class="active">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">&#10095;</a>
    </div>
  </div>
</div>

{%endblock%}
