{% extends "layout.html" %} {% block content%}
<div id="single-stock" class="grid-container">
    <div class="single-stock-item-1">
      <!-- Sidebar START-->
      <div id="single-stock-sidebar" class="grid-item-container blue-s">
        
        <div id="single-stock-sidebar-open" class="grid-item-container">
          <div class="item-header row">
            <div class="sidebar-top-row row">
              <i class="far fa-file-alt financials active" onclick="displaySidebarItem('financials')" ></i>
              <i class="fas fa-award ratings" onclick="displaySidebarItem('ratings')"></i>
              <i class="fas fa-crosshairs strategy" onclick="displaySidebarItem('strategy')"></i>
              <i class="fas fa-spinner related" onclick="displaySidebarItem('related')"></i>
            </div>
            <div class="close-button-container row">
              <i
                id="close-arrow"
                class="fas fa-angle-left"
                onclick="closeSidebar()"
              ></i>
            </div>
          </div>

          <div class="item-main-content">
            <div id="sidebar-financials" class="financials active">
              <!-- TradingView Widget BEGIN -->
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js" async>
                
                {
                "symbol": "{% if stock.exchange == 'ARCA' %}AMEX{%else%}{{stock.exchange}}{%endif%}:{{stock.symbol}}",
                "colorTheme": "dark",
                "isTransparent": true,
                "largeChartUrl": "",
                "displayMode": "regular",
                "width": "100%",
                "height": "100%",
                "locale": "en"
              }
                </script>
              <!-- TradingView Widget END -->
            </div>
            <div id="sidebar-ratings" class="ratings">

                  {% if ratings['valid']%}
                  {% for rating in ratings['data']%}
                  <p>{{rating['Firm']}}</p>
                  <p>{{rating['Date']}}</p>
                  <p>{{rating['To Grade']}}</p>
                  <p>{{rating['From Grade']}}</p>
                  <p>{{rating['Action']}}</p>
                  {% endfor%}

                  {% else %}
                      <p>SORYY NO RATINGS</p>
                  {% endif%}
 
              
              <p>Testing</p>
            </div>
            <div id="sidebar-strategy">
              <form method="post" action="/apply_strategy" style="margin: 0; padding:0;">
                <select name="strategy_id">
                  {% for strategy in strategies%}
                  <option value="{{strategy.id}}">{{strategy.name}}</option>
                  {% endfor%}
                </select>
                <input type="hidden" name="stock_id" value="{{stock.id}}" />
                <input type="submit" value="Apply Strategy" />
              </form>
            </div>
            <div id="sidebar-related">
                            <!-- TradingView Widget BEGIN -->
                    <div>Related Tickers</div>

                      
                              <div>
                              <div class="avoid-clicks">
                              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
                                {
                              "symbol": "NASDAQ:AAPL",
                              "width": "100%",
                              "colorTheme": "dark",
                              "isTransparent": true,
                              "locale": "en"
                              }
                              </script>
                              </div>
                              <a href="/stock/AAPL">
                                <i class="fas fa-arrow-right"></i>
                              </a>
                            </div>
                              <div class="avoid-clicks">
                                  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
                                    {
                         "symbol": "NASDAQ:AAPL",
                         "width": "100%",
                         "colorTheme": "dark",
                         "isTransparent": true,
                         "locale": "en"
                       }
                         </script>
                            </div>



                <!-- </div> -->
              <!-- TradingView Widget END -->
            </div>

          </div>
        </div>
        <!-- Sidebar Closed Default-->
        <div id="single-stock-sidebar-closed">
              <i class="far fa-file-alt financials" onclick="openSidebar('financials')"></i>
              <i class="fas fa-award ratings" onclick="openSidebar('ratings')"></i>
              <i class="fas fa-crosshairs strategy" onclick="openSidebar('strategy')"></i>
              <i class="fas fa-spinner related" onclick="openSidebar('related')"></i>
       
        </div>
              <!-- Sidebar END-->
    </div>



      <div class="single-stock-item-chart">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div id="tradingview_7e923"></div>
          <script
            type="text/javascript"
            src="https://s3.tradingview.com/tv.js"
          ></script>
          <script type="text/javascript">
            new TradingView.widget({
              width: "100%",
              height: 440,
              symbol:
                "{% if stock.exchange == 'ARCA' %}AMEX{%else%}{{stock.exchange}}{%endif%}:{{stock.symbol}}",
              interval: "D",
              timezone: "America/New_York",
              theme: "light",
              style: "1",
              locale: "en",
              toolbar_bg: "#f1f3f6",
              enable_publishing: false,
              hide_legend: true,
              withdateranges: true,
              allow_symbol_change: true,
              container_id: "tradingview_7e923",
            });
          </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
    </div>
    <!-- </bottom two divs> -->
    <div class="single-stock-item-2 blue-s">
      <div class="grid-item-container">
        <div class="item-header row">
          <p>News</p>
        </div>
                    <div class="item-main-content table-container">
                      <table>
                        <thead>
                          <div class="table-headers-row">
                            <tr>
                              <th>Date</th>
                              <th>Time</th>
                              <th>Headline</th>
                            </tr>
                          </div>
                        </thead>
                        <tbody>
                          {% for item in news%}
                          <tr>
                            <td class="nowrap">{{item.date}}</td>
                            <td class="tbody-left-border">{{item.time}}</td>
                            <td class="tbody-left-border">
                              <a href="{{item.link}}" target="_blank">{{item.title}}</a>
                            </td>
                          </tr>
                          {% endfor%}
                        </tbody>
                      </table>
                    </div>
      </div>
    </div>
    <div class="single-stock-item-3 blue-s">
      <div class="grid-item-container">
        <div class="item-header row">
          <p>StockTwits</p>
        </div>
        <div class="item-main-content table-container">
        <table >
          <tbody>
            {% for message in stock_twits%}
            <tr>
              <td>
                <div class="column" style="width: 100%; height: 100%;">
                  <img src="{{message.user.avatar_url}}">
                </div>
          
              </td>
              <td class="tbody-left-border" >
                <div style="width: 100%; height: 100%; padding-left: 6px;">
                <p class="bold ice">{{ message.user.username}}</p>
                <p>{{message.body | safe}}</p>
                <a class="text-small">{{message.created_at}}</a>
              </div>
              </td>
        
            </tr>
            {% endfor%}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    // default dispaly is financials so initialize to class financials
    let lastClassname = 'financials' 
    function openSidebar(classname){
      document.getElementById("single-stock-sidebar").style.width = "40%";
      document.getElementById("single-stock-sidebar-open").style.display = "flex";
      document.getElementById("single-stock-sidebar-closed").style.display = "none";
      let currentSidebarItems = document.getElementsByClassName(classname);
      currentSidebarItems[0].className += " active"; 
      document.getElementById(`sidebar-${classname}`).style.display = "block"
      lastClassname = classname
    }

    function closeSidebar() {
      document.getElementById("single-stock-sidebar-open").style.display = "none";
      document.getElementById("single-stock-sidebar").style.width = "4%";
      document.getElementById("single-stock-sidebar-closed").style.display = "flex";
      const lastChoosenItem = document.getElementsByClassName("active");
      const len = lastChoosenItem[0].className.length
      const end = len - 7 //length of " active"
      lastChoosenItem[0].className =  lastChoosenItem[0].className.slice(0,end)
      document.getElementById(`sidebar-${lastClassname}`).style.display = "none"
    }

    function displaySidebarItem(classname) {
      const lastChoosenItem = document.getElementsByClassName("active");
      const len = lastChoosenItem[0].className.length
      const end = len - 7 //length of " active"
      lastChoosenItem[0].className =  lastChoosenItem[0].className.slice(0,end)
      let currentSidebarItems = document.getElementsByClassName(classname);
      currentSidebarItems[0].className += " active"; 
      document.getElementById(`sidebar-${lastClassname}`).style.display = "none"
      document.getElementById(`sidebar-${classname}`).style.display = "block"
      lastClassname = classname

    }


  </script>
</div>
{%endblock%} 