{% extends "layout.html" %} {% block content%}
<div id="single-stock" class="grid-container">
    <div class="single-stock-item-1">
      <!-- Sidebar START-->
      <div id="single-stock-sidebar" class="grid-item-container blue-s">
        <div id="single-stock-sidebar-open" class="grid-item-container">



          <div class="item-header row">
            <div class="sidebar-top-row row">
              <i class="far fa-file-alt financials" onclick="displaySidebarItem('financials')" ></i>
              <i class="fas fa-award ratings" onclick="displaySidebarItem('ratings')"></i>
              <i class="fas fa-crosshairs strategy" onclick="displaySidebarItem('strategy')"></i>
              <i class="fas fa-spinner related" onclick="displaySidebarItem('related')"></i>
            </div>
            <div class="close-button-container row">
              <i
                id="close-arrow"
                class="fas fa-angle-left"
                onclick="closeSidebar()"
              ></i>
            </div>
          </div>

          <div class="item-main-content">
            <div id="sidebar-financials" class="financials">
              <p>{{stock.symbol}}</p>
              <p>{{stock.name}}</p>
              <p>FINANCIALSSSSS</p>
              <p>SPY/NQ</p>
            </div>
            <div id="sidebar-ratings" class="ratings">
              <p>{{stock.symbol}}</p>
              <p>{{stock.name}}</p>
              <p>RATINGS</p>
              <p>BRUV</p>
            </div>
            <div id="sidebar-strategy">
              <form method="post" action="/apply_strategy" style="margin: 0; padding:0;">
                <select name="strategy_id">
                  {% for strategy in strategies%}
                  <option value="{{strategy.id}}">{{strategy.name}}</option>
                  {% endfor%}
                </select>
                <input type="hidden" name="stock_id" value="{{stock.id}}" />
                <input type="submit" value="Apply Strategy" />
              </form>
            </div>
            <div id="sidebar-related">
              <p>{{stock.symbol}}</p>
              <p>{{stock.name}}</p>
              <p>RELATED</p>
              <p>RELATED</p>
            </div>

          </div>

        </div>
        <!-- Sidebar Closed Default-->
        <div id="single-stock-sidebar-closed">
              <i class="far fa-file-alt financials" onclick="openSidebar('financials')"></i>
              <i class="fas fa-award ratings" onclick="openSidebar('ratings')"></i>
              <i class="fas fa-crosshairs strategy" onclick="openSidebar('strategy')"></i>
              <i class="fas fa-spinner related" onclick="openSidebar('related')"></i>
       
        </div>
              <!-- Sidebar END-->
    </div>



      <div class="single-stock-item-chart">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div id="tradingview_7e923"></div>
          <script
            type="text/javascript"
            src="https://s3.tradingview.com/tv.js"
          ></script>
          <script type="text/javascript">
            new TradingView.widget({
              width: "100%",
              height: 440,
              symbol:
                "{% if stock.exchange == 'ARCA' %}AMEX{%else%}{{stock.exchange}}{%endif%}:{{stock.symbol}}",
              interval: "D",
              timezone: "America/New_York",
              theme: "light",
              style: "1",
              locale: "en",
              toolbar_bg: "#f1f3f6",
              enable_publishing: false,
              hide_legend: true,
              withdateranges: true,
              allow_symbol_change: true,
              container_id: "tradingview_7e923",
            });
          </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
    </div>
    <!-- </bottom two divs> -->
    <div class="single-stock-item-2 blue-s">
      <div class="grid-item-container">
        <div class="item-header row">
          <p>Gainers/Decliners</p>
        </div>
        <div class="item-main-content">
          <p>SPY/NQ</p>
          <p>SPY/NQ</p>
          <p>SPY/NQ</p>
          <p>SPY/NQ</p>
        </div>
      </div>
    </div>
    <div class="single-stock-item-3 blue-s">
      <div class="grid-item-container">
        <div class="item-header row">
          <p>Gainers/Decliners</p>
        </div>
        <div class="item-main-content">
          <p>SPY/NQ</p>
          <p>SPY/NQ</p>
          <p>SPY/NQ</p>
          <p>SPY/NQ</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    let lastClassname;
    function openSidebar(classname){
      document.getElementById("single-stock-sidebar").style.width = "40%";
      document.getElementById("single-stock-sidebar-open").style.display = "flex";
      document.getElementById("single-stock-sidebar-closed").style.display = "none";
      let currentSidebarItems = document.getElementsByClassName(classname);
      currentSidebarItems[0].className += " active"; 
      document.getElementById(`sidebar-${classname}`).style.display = "block"
      lastClassname = classname
    }

    function closeSidebar() {
      document.getElementById("single-stock-sidebar-open").style.display = "none";
      document.getElementById("single-stock-sidebar").style.width = "4%";
      document.getElementById("single-stock-sidebar-closed").style.display = "flex";
      const lastChoosenItem = document.getElementsByClassName("active");
      const len = lastChoosenItem[0].className.length
      const end = len - 7 //length of " active"
      lastChoosenItem[0].className =  lastChoosenItem[0].className.slice(0,end)
      document.getElementById(`sidebar-${lastClassname}`).style.display = "none"
    }

    function displaySidebarItem(classname) {
      const lastChoosenItem = document.getElementsByClassName("active");
      const len = lastChoosenItem[0].className.length
      const end = len - 7 //length of " active"
      lastChoosenItem[0].className =  lastChoosenItem[0].className.slice(0,end)
      let currentSidebarItems = document.getElementsByClassName(classname);
      currentSidebarItems[0].className += " active"; 
      document.getElementById(`sidebar-${lastClassname}`).style.display = "none"
      document.getElementById(`sidebar-${classname}`).style.display = "block"
      lastClassname = classname

    }
  </script>
  <!-- {% for price in prices%} {{price.high}} {%endfor %} {%endblock%} -->
</div>
