{% extends "layout.html" %} {% block content%}

<h1>STUDIES</h1>

<table
  width="100%"
  class="fullview-ratings-outer"
  cellpadding="0"
  cellspacing="0"
  border="0"
>
  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Apr-06-21</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Morgan Stanley</td>
          <td width="250" align="left">Overweight</td>
          <td width="150" align="left">$164 &rarr; $156</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-upgrade">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-upgrade">
          <td width="120" align="left">Mar-31-21</td>
          <td width="200" align="left"><b>Upgrade</b></td>
          <td width="250" align="left">UBS</td>
          <td width="250" align="left">Neutral &rarr; Buy</td>
          <td width="150" align="left">$115 &rarr; $142</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Jan-28-21</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Needham</td>
          <td width="250" align="left">Buy</td>
          <td width="150" align="left">$140 &rarr; $170</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Jan-28-21</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Monness Crespi &amp; Hardt</td>
          <td width="250" align="left">Buy</td>
          <td width="150" align="left">$144 &rarr; $170</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Jan-28-21</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Canaccord Genuity</td>
          <td width="250" align="left">Buy</td>
          <td width="150" align="left">$150 &rarr; $155</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Jan-25-21</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Wedbush</td>
          <td width="250" align="left">Outperform</td>
          <td width="150" align="left">$160 &rarr; $175</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Jan-22-21</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Cowen</td>
          <td width="250" align="left">Outperform</td>
          <td width="150" align="left">$133 &rarr; $153</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Jan-21-21</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Morgan Stanley</td>
          <td width="250" align="left">Overweight</td>
          <td width="150" align="left">$144 &rarr; $152</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Jan-05-21</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Canaccord Genuity</td>
          <td width="250" align="left">Buy</td>
          <td width="150" align="left">$145 &rarr; $150</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Dec-16-20</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Morgan Stanley</td>
          <td width="250" align="left">Overweight</td>
          <td width="150" align="left">$136 &rarr; $144</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Dec-09-20</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Wedbush</td>
          <td width="250" align="left">Outperform</td>
          <td width="150" align="left">$150 &rarr; $160</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-upgrade">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-upgrade">
          <td width="120" align="left">Nov-30-20</td>
          <td width="200" align="left"><b>Upgrade</b></td>
          <td width="250" align="left">Loop Capital</td>
          <td width="250" align="left">Hold &rarr; Buy</td>
          <td width="150" align="left">$110 &rarr; $131</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Oct-26-20</td>
          <td width="200" align="left"><b>Resumed</b></td>
          <td width="250" align="left">Atlantic Equities</td>
          <td width="250" align="left">Overweight</td>
          <td width="150" align="left">$150</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Sep-21-20</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Citigroup</td>
          <td width="250" align="left">Buy</td>
          <td width="150" align="left">$112.50 &rarr; $125</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Sep-17-20</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Jefferies</td>
          <td width="250" align="left">Buy</td>
          <td width="150" align="left">$116.25 &rarr; $135</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Sep-16-20</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Needham</td>
          <td width="250" align="left">Buy</td>
          <td width="150" align="left">$112.50 &rarr; $140</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Sep-01-20</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Cowen</td>
          <td width="250" align="left">Outperform</td>
          <td width="150" align="left">$530 &rarr; $133</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="body-table-rating-neutral">
    <td class="fullview-ratings-inner">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr class="body-table-rating-neutral">
          <td width="120" align="left">Aug-31-20</td>
          <td width="200" align="left"><b>Reiterated</b></td>
          <td width="250" align="left">Monness Crespi &amp; Hardt</td>
          <td width="250" align="left">Buy</td>
          <td width="150" align="left">$117.50 &rarr; $144</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock%}
