{% extends "layout.html" %} {% block content%}
<div id="study" class="grid-container">
  <div class="study-input-form-container">
    <form class="study-input-form" method="get">
      <label for="ticker_input">Symbol:</label>
      <input placeholder= "Type a stock symbol and hit enter to analyze..."
      id="ticker-input" name="ticker_input" type="text" maxlength="6" {%if
      request.query_params.ticker_input %} {%if
      request.query_params.ticker_input.upper() == symbol.symbol %}
      value='{{symbol.symbol}}' {%endif%} {%endif%} />
      <input type="submit" style="display: none" />
    </form>
  </div>

  <div class="study-tabs-container row">
    <div class="tabs row">
      <p id="tab-Chart" class="active-tab" onclick="changeTab(event)">Chart</p>
      <p id="tab-Performance" onclick="changeTab(event)">Performance</p>
      <p id="tab-Seasonality" onclick="changeTab(event)">Seasonality</p>
      <p id="tab-Volatility" onclick="changeTab(event)">Volatility</p>
      <p id="tab-Volume" onclick="changeTab(event)">Volume</p>
    </div>
  </div>

  <div class="main-study-container">
    <div id="section-Chart" class="active-section">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div id="tradingview_a5112"></div>
        <script
          type="text/javascript"
          src="https://s3.tradingview.com/tv.js"
        ></script>
        <script type="text/javascript">
          new TradingView.widget({
            width: "100%",
            height: "100%",
            symbol:
              "{% if symbol.exchange == 'ARCA' %}AMEX{%else%}{{symbol.exchange}}{%endif%}:{{symbol.symbol}}",
            timezone: "Etc/UTC",
            theme: "light",
            style: "1",
            locale: "en",
            toolbar_bg: "#f1f3f6",
            enable_publishing: false,
            withdateranges: true,
            range: "60M",
            hide_side_toolbar: false,
            studies: ["Volume@tv-basicstudies"],
            show_popup_button: true,
            popup_width: "1000",
            popup_height: "650",
            container_id: "tradingview_a5112",
          });
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div id="section-Performance" class="section">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <script
          type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js"
          async
        >
            {
            "symbol": "{% if symbol.exchange == 'ARCA' %}AMEX{%else%}{{symbol.exchange}}{%endif%}:{{symbol.symbol}}",
            "colorTheme": "light",
            "isTransparent": false,
            "largeChartUrl": "",
            "displayMode": "regular",
            "width": "100%",
            "height": "100%",
            "locale": "en"
          }
        </script>
      </div>

      <!-- TradingView Widget END -->
    </div>
    <div id="section-Seasonality" class="section">
      <p>ENTER A TICKER TO VIEW SEASONALITY</p>
      <p>{{message}}</p>
    </div>
    <div id="section-Volatility" class="section">
      <p>ENTER A TICKER TO VIEW VOLATILITY</p>
    </div>
    <div id="section-Volume" class="section">
      <p>ENTER A TICKER TO VIEW VOLUME ANALYSIS</p>
    </div>
  </div>
</div>

<script>
  function changeTab(e) {
    document.getElementsByClassName("active-tab")[0].className = "";
    document.getElementsByClassName("active-section")[0].className = "section";
    let id = e.target.innerText;
    let tabId = `tab-${id}`;
    let sectionId = `section-${id}`;
    document.getElementById(tabId).className = "active-tab";
    document.getElementById(sectionId).className = "active-section";
  }
</script>
{% endblock%}
